section li:nth-of-type(even) {
  background-color: fuchsia;
  border-top: 12px solid blue;
}

section h2:nth-of-type(even) {
  background-color: fuchsia;
  border-top: 12px solid blue;
}

h1 {
  border: 15px solid blue;
}

h2 {
  border: 15px solid blue;
}

p {
  line-height: 2;
  font-size: 24px;
}

section {
  font-size: 24px;
}

section li:nth-of-type(odd) {
  background-color: #ccc;
  border-bottom: 12px double crimson;
}

dl {
  color: white;
  background-color: rgb(0, 0, 255);
}

dt {
  background-color: gray;
  padding: 20px;
}

dt + dd {
  line-height: 2;
}

ol > li:nth-of-type(3n) {
  background-color: cornflowerblue;
  padding-block: 15px;
}

ol > li:nth-of-type(2n) {
  background-color: burlywood;
  padding-block: 15px;
}

ul > li:nth-of-type(3n) {
  background-color: yellowgreen;
  padding-block: 15px;
}

ul > li:nth-of-type(2n) {
  background-color: goldenrod;
  padding-block: 15px;
}

img[src^="http"] {
  border-radius: 0 50px 0 50px;
}

img[src^="./IMAGES_OF_FOOD"] {
  border-radius: 50px 0 50px 0;
}
